@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sigmar&display=swap');

.text-b {
    font-weight: bold;
}

.logo {
    width: 128px;
    height: 128px;
}

body {
    overflow-y: auto;
    height: 100%;
}

body * {
    font-family: "Poppins", sans-serif;
}

body hr {
    width: 100%;
    color: #303030;
    background-color: #303030;
    border-bottom: 1px dashed #303030;
}

body .container {
    
    margin-top: 5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body .container #user-info {
    display: none;
    align-items: center;
    gap: 10px;
}

body .container #user-photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

body .container h1 {
    font-family: "Sigmar", sans-serif;
    color: #ff0033;
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
}

body .container .container-musica-artista {
    width: 100%;
    background-color: #ff0033;
    border: 1px solid #686868;
    border-radius: 8px;
    padding: 1.5rem;
    margin: 1rem;
}

body .container .container-musica-artista h2#music-title {
    font-family: "Sigmar", sans-serif;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

body .container .container-musica-artista h3#artist-name {
    font-family: "Poppins", sans-serif;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

body .container .btn-group {

}

body .container .btn-group .btn-dark {
    border-right: 1px solid #c6c6c6 !important;
}

body .container .btn-group .btn-dark:hover {
    background-color: #c6c6c6;
    color: #ff0033;
}